<!DOCTYPE html>
<html>
  <head>
    <title>Document></title>
  </head>
  <body>
    <h1>Eric's Developer Skills:</h1><br>
    <ul>
        <% console.log(devSkills) %>
        <% devSkills.forEach(function(item) { %>
      <li>
        <a href="skills/<%=item.id%>">Click Me</a> -
            <%= item.id %> -
            <%= item.skill %> 
            <%= item.level %>
       </li>
       <form action="/skills/<%= item.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">X</button>
      </form>
      <% }) %>
      <a href="/skills/new">Add a skill</a>
    </ul> 
  </body>
</html>