<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    Todos:<br>
    <%console.log(todos)%>
    <%todos.forEach(function(item) {%>
      <li>
        <%=      item.id%       >
        <%=      item.todo%     >
        <%=      item.done%     >
        <%=})%>
      </li>
    </body>
</html>